{%- if executable -%}
{%- if py2 -%}
#!/usr/bin/env python
{% else %}
#!/usr/bin/env python3
{%- endif %}
{%- endif %}
{%- if py2 -%}
# -*- coding: utf-8 -*-
{%- endif %}
"""
Documentation

See also https://www.python-boilerplate.com/flask
"""
import os
{% if argparse -%}import argparse{%- endif %}
from flask import Flask, jsonify
from flask_cors import CORS
{% if logging -%}
from logger import setup_logger

logger = setup_logger(logfile=None)
{%- endif %}


def create_app(config=None):
    app = Flask(__name__)

    # See http://flask.pocoo.org/docs/latest/config/
    app.config.update(dict(DEBUG=True))
    app.config.update(config or {})

    # Setup cors headers to allow all domains
    # https://flask-cors.readthedocs.io/en/latest/
    CORS(app)

    # Definition of the routes. Put them into their own file. See also
    # Flask Blueprints: http://flask.pocoo.org/docs/latest/blueprints
    @app.route("/")
    def hello_world():{% if logging %}
        logger.info("/"){%- endif %}
        return "Hello World"

    @app.route("/foo/<someId>")
    def foo_url_arg(someId):{% if logging %}
        logger.info("/foo/%s", someId){%- endif %}
        return jsonify({
            "echo": someId
        })

    return app


if __name__ == "__main__":
    {% if argparse -%}
    parser = argparse.ArgumentParser()
    parser.add_argument("-p", "--port", action="store", default="8000")

    args = parser.parse_args()
    port = int(args.port)
    {%- else -%}
    port = int(os.environ.get("PORT", 8000))
    {%- endif %}
    app = create_app()
    app.run(host="0.0.0.0", port=port)
